# Database
DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@localhost:5432/<DATABASE_NAME>"

# Authentication (Better Auth)
BETTER_AUTH_SECRET="<YOUR_RANDOM_SECRET>"
BETTER_AUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret

# Maile Service Setup
NODEMAILER_USER="email@domain.com"
NODEMAILER_APP_PASSWORD="your smtp password"
NODEMAILER_SMTP_HOST="smtp host"
NODEMAILER_SMTP_PORT=smtp_port

# EMAIL META
SUPPORT_EMAIL=your_support_email_address